
.img {
  min-height: 600px;
}
.img > img {
  border-radius: 30px;
  object-fit: cover;
}

@media screen and (max-width: 1280px) {
  /* Since it's going to glue to the screen*/
  .img > img {
    border-radius: 30px  0 0 30px;
  }
}

@media screen and (max-width: 900px) {
  .img > img {
    background-position-x: 50%;
  }
}

@media screen and (max-width: 768px) {
  .img > img {
    border-radius: 0;
    min-height: 300px;
    background-position-y: 30%;
  }
}
